*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rgb(0, 1, 1);
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(224, 163, 132);
    border-radius: 20px;
    width: 100vw;
    border: 10px dashed white;
    box-shadow: 10px 10px 10px 10px grey;
}
h2{
    border-bottom: 1px solid black;
    text-align: center;
}

 body{
    background-color:black;
    background-repeat: no-repeat;
    background-size: fill;
    object-fit: fill;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#board
{
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content: center;
    border-top: 10px solid rgb(255, 0, 0);
    border-bottom:  10px solid rgb(229, 255, 0);
    border-left:  10px solid rgb(85, 255, 0);
    border-right:  10px solid rgb(30, 0, 255);
    background-color: white;
    border-radius: 30px;
    animation: load 2s  ease-in-out infinite alternate-reverse;

}

@keyframes load {

    0%
    {
    border-top: 10px solid rgb(255, 0, 0);
    border-bottom:  10px solid rgb(229, 255, 0);
    border-left:  10px solid rgb(85, 255, 0);
    border-right:  10px solid rgb(30, 0, 255);
    }

    25%
    {
    border-top: 10px solid rgb(255, 242, 0);
    border-bottom:  10px solid rgb(255, 0, 0);
    border-left:  10px solid rgb(0, 255, 38);
    border-right:  10px solid rgb(30, 0, 255);
    }

    50%
    {
    border-top: 10px solid rgb(38, 0, 255);
    border-bottom:  10px solid rgb(204, 255, 0);
    border-left:  10px solid rgb(255, 0, 0);
    border-right:  10px solid rgb(64, 255, 0);
    }
    75%
    {
    border-top: 10px solid rgb(0, 255, 42);
    border-bottom:  10px solid rgb(76, 0, 255);
    border-left:  10px solid rgb(221, 255, 0);
    border-right:  10px solid rgb(255, 47, 0);
    }
    100%
    {
    border-top: 10px solid rgb(255, 0, 0);
    border-bottom:  10px solid rgb(0, 255, 42);
    border-left:  10px solid rgb(0, 13, 255);
    border-right:  10px solid rgb(221, 255, 0);
    }

    
}
.detail1,.detail2,.detail3,.detail4,.detail5,.detail6,.detail7,.detail8,.detail9
{
    font-size:larger;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#data1,
#data2,
#data3,
#data4,
#data5,
#data6,
#data7,
#data8,
#data9
{
    height: 40px;
    width: 20rem;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(231, 248, 100);
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#b{
    display: grid;
    place-items: center;
    height:50px;
    margin-top: 20px;
    cursor: pointer;
    width:80px;
    background-color: pink;
    border: 6px solid black;
    border-radius: 9px;
}

#voice:hover,#copy:hover
{
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}
.main
{
    margin-top: 5%;
    border: 10px solid black;
    display:flex;
    width: 90vw;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: largeR;
    line-height:50PX;
    background-color: aliceblue;
    font-weight:bolder;
    animation: load 2s  ease-in-out infinite normal;
    font-family:Arial, Helvetica, sans-serif;
}



#copy,#voice
{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    animation: load 2s  ease-in-out infinite normal;

    font-family: 'Times New Roman', Times, serif;

}

